@import "tailwindcss";

@font-face {
  font-family: 'Henus';
  src: url('/assets/henus.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    height: 100%;
  }
}

:root {
  --woo-blue: #00AEEF;
  --woo-bg: #F0F0F0;
}

body {
  background: #f5f5f5;
  color: #0a0a0a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
